<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hochschuledarmstadt.photostream_tools.examples">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- URL festlegen für den Photostream Server -->
        <meta-data
            android:name="PHOTOSTREAM_URL"
            android:value="http://5.45.97.155:8082" />

        <!-- Größe festlegen für eine Seite aus dem Photostream -->
        <meta-data
            android:name="PAGE_SIZE"
            android:value="3" />

        <activity
            android:name=".examples.photo.PhotoActivity"
            android:label="@string/title_photoactivity" />

        <activity android:name=".examples.plugin.ContextualActionBarPluginActivity"
            android:label="@string/cab_plugin_activity_title"/>

        <activity android:name=".examples.plugin.AlertDialogPluginActivity"
            android:label="@string/cab_dialog_activity_title"/>

        <activity
            android:name=".examples.comment.CommentActivity"
            android:label="@string/comment_example" />

        <activity android:name=".advanced_examples.fullscreen.FullscreenActivityViewPager"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:label="@string/title_fullscreen_activity_viewpager"/>

        <activity
            android:name=".main.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.ExamplesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".main.AdvancedExamplesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".examples.upload.PhotoUploadActivity"
            android:label="@string/title_photo_upload_activity"/>

        <activity
            android:name=".examples.search.SearchActivity"
            android:label="@string/title_search_activity"/>

        <activity
            android:name=".advanced_examples.viewpager.ViewPagerFragmentActivity"
            android:label="@string/title_fragment_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar.ViewPager"/>

        <activity
            android:name=".advanced_examples.viewpager.ViewPagerWithoutFragmentsActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar.ViewPager"/>

        <activity
            android:name=".examples.notification.NotificationActivity"
            android:label="@string/NotificationActivity"/>

        <activity
            android:name=".examples.photo.FullscreenActivity"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"/>

        <receiver android:name=".examples.notification.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="hochschuledarmstadt.photostream_tools.intent.NEW_PHOTO"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>